<section class="text-white flex flex-col gap-6 p-2 cursor-pointer">
  <div class="flex justify-between">
    <div class="w-1/2">
      <h2>{{ article.name }}</h2>
      <p class="text-sm" [ngClass]="{ 'text-gray-600': !article.isOnSale }">
        Precio: {{ article.price }} €
      </p>
      <div class="flex items-center gap-4">
        <img
          class="w-[45%] rounded-3xl object-cover"
          [src]="article.imageUrl | defaultImage"
          alt="Imagen del articulo"
        />
        <p>{{ article.quantityInCart }}</p>
      </div>
      <p class="text-sm font-bold text-green-300" *ngIf="article.isOnSale">
        Esta en venta
      </p>
      <p class="text-sm font-bold text-red-300" *ngIf="!article.isOnSale">
        No esta en venta
      </p>
    </div>
    <img
      class="w-[45%] rounded-3xl object-cover"
      [src]="article.imageUrl"
      alt="Imagen del articulo"
    />
  </div>
</section>
